#navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
  }

h1{
    color: red;
}

.beige{
    background-color: beige;
}

.red{
    background-color: rgb(246, 96, 96);
}
#cards{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}

#FAQ{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: bisque;
}
